@model IntegrationViewModel

@{
    ViewData["Title"] = "Integral creation";
}

<div class="input-form">
    <form method="post" action="@Url.Action("Index", "Integrations")" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <label for="formula">Integration formula:</label>
        <br />
        <input id="formula" type="text" name="Formula" required="required" value="@Model.Formula" />
        <br />
        <br />
        <label for="up">Upper integration limit (b):</label>
        <br />
        <input id="up" type="number" step="0.01" name="UpperLimit" required="required" value="@Model.UpperLimit" />
        <br />
        <br />
        <label for="down">Lower integration limit (a):</label>
        <br />
        <input id="down" type="number" step="0.01" name="LowerLimit" required="required" value="@Model.LowerLimit" />
        <br />
        <br />
        <label for="precision">Integration precision (n):</label>
        <br />
        <input id="precision" type="number" name="Precision" required="required" value="@Model.Precision" />
        <br />
        <br />
        <label for="intervals">Number of interval divisions:</label>
        <br />
        <input id="intervals" type="number" name="IntervalsCount" required="required" value="@Model.IntervalsCount" />
        <br />
        <br />
        <label for="method">Integration method:</label>
        <br />
        <select id="method" name="Method">
            <option selected="selected" value="Square_integration">Squares</option>
            <option value="Trapezoid_integration">Trapezoids</option>
        </select>
        <br />
        <br />
        <br />
        <input type="submit" value="Add integration task" class="info-button" />
    </form>

    @if (ViewData["InputError"] != null)
    {
        <p class="input-error">@ViewData["InputError"]</p>
    }
</div>
